
body{
  background-color: #F0F7EE;
text-align: center;
}

h1{
  color: #333333;
  font-family: serif;
  font-size: 300%;
}

img{
  width: 70%;
  height: 13rem;
  }

  .categ{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
  }
  hr{
    height:33rem;
  }
  h2::after{
    content:' ';
    display:block;
    border:2px solid black;
  }

  h2{
    color: #333333;
    font-family: serif;
  }


  .type{
  display: flex;
  flex-direction: column;
  }

  h5{
    /* display: inline; */
    padding-right: 0rem;
    padding-top: 0rem;
    
  }



  .pizza{
    display: flex;
    flex-direction: column;
  
    border: 2px;
    box-shadow: 5px 10px #c9c6c6;
    margin: 1rem;
    height: 25%;
    width: auto;
    grid-row:auto;
  
  }
  b{
    color: green;
  }



  

  