
#root {
  background-color: #F0F7EE;
  text-align: center;
}


/*FOR ALL H1*/
.h11 {
  font-size: 3rem;
  margin-top: -1rem;
  color: #333333;
  font-family: serif;
  
  
}


/*FOR THE NAV BAR8*/
.nav {
  background-color: #E4E4E4;
  height: 5rem;
  padding-top: 2rem;
  overflow: scroll;
  width:100%;
  


}

/*FOR AL THE IMAGES*/
.logo {
  
  width: 100%;
  height: 13rem;
}

.price {
 
  padding-left: 79%;
  color: green;
  font-family: sans-serif;
}
/*ALL H3 ELEMENT*/
h3 {
  flex-basis: 70%;
  text-align: left;
  padding-left: 1rem;
  color: #4D4D4D;
  font-family: sans-serif;
  margin-top: 9px;
  margin-bottom: 0px;
}

/*CATAGORY*/
.catagory{


  background-color: #D5D9D3;
  font-size: 1.7rem;
  height: 5rem;
  color: #333333;
  border-radius: 3rem;
  min-width: 150px;
  font-family: serif;
  margin: auto;
  cursor: pointer;
  padding-right: 15%;
}

.catagory:hover {
  border:1px solid #333333;
}

.catagory:active{
  border-color: rgb(7, 7, 7);
}


.delete{
  background-color: #D5D9D3;
  font-size: 2rem;
  height: 2rem;
  width: 2.5rem;
  color: #333333;
  border-radius:  3rem;
  border:#D5D9D3 1px solid ;
  font-family: serif;
  margin: auto;
  cursor: pointer;
  position: absolute;
  left: 64% ;
  top:5%;
 
  
}
.binimg{
  height: 100%;
  width: 60%;
}
.twobtn{
  display: flex;
  flex-direction: row;
  position:relative;
 

 }


.dish1 {
  background: #F0F7EE;
  border: 1px solid #F0F7EE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:2rem;
  min-width: 300px;
}


.main {
  background-color: #E4E4E4;
}

p {
  text-align: left;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #4D4D4D;
  font-family: sans-serif;
  overflow-wrap: break-word;
}


.item{
  background-color: #E4E4E4;
}



 .wrapper {
  margin: -1rem;
  padding-right: 17%;
  left: auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  height:auto;
  padding-left: 1%;
  
 }
 
 .container{
position: relative;
min-width: 50px;

 }
 
 .container2{
  display: flex;
    flex-direction: row;
    width:230px;
     margin:0 auto;

  
 }

.editbtn1{
  display: flex;
    flex-direction: row;
    width: 9%;
    min-width: 150px;

}




 .imgbtn{
  background-color: #F1F1F1;
  font-size: 2rem;
  height: 4rem;
  color: #333333;
  border-radius: 3rem;
  border: 1px #F1F1F1 solid;
  min-width: 50px;
  font-family: serif;
  margin: auto;
  position: absolute;
  padding-left: 100px;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0px 10px;
  cursor: pointer;
  text-align: center;
 }
 .imgbtn:hover{
  border:1px solid black;
 }
 .imgbtn:active{
  border-color: rgb(7, 7, 7);
 }
 .filePicker{
  visibility:hidden;
  
 }
 .fileimg{
height: inherit;
width: 60%;
 }
 
 .resname{
  background-color: #F0F7EE;
  height: 50px;
  min-width: 50px;
  color: #333333;
  border-radius: 3rem;
  border: 1px #F0F7EE solid;
  font-family: serif;
  cursor: pointer;
  margin-top: -0.5rem;
  margin-left:2px;
  min-width: 50px;
  
  
 }
 .resname:hover{
  border:1px solid black;
}
.resname:active{
  border-color: rgb(7, 7, 7);
}
.editname{
  height: 100%;
  width: 60%;
  
}

.edit1{
  background-color: #F0F7EE;
  height: 40px;
  width: 70%;
  color: #333333;
  border-radius: 3rem;
  border: 1px #F0F7EE solid;
  font-family: serif;
  cursor: pointer;
  
  margin-left:2px;
  margin-top: 0px;
  min-width: 0;
  margin-bottom: 0px;
  
}

.edit1:hover{
  border:1px solid black;
}
 .edit1:active{
  border-color: rgb(7, 7, 7);
 }



