body{
  background-color:#F0F7EE;
  
}
label{
  display: flex;
  flex-direction: column;
  width: 80%;
}

h5{
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
margin-bottom: 0%;
margin-left:6%;
height: 3rem;

}
input{
  font-size: 24px;
  border-radius: 4rem;
  height: 3rem;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px white solid;
padding-top:0%;
padding-bottom: 7%;
margin-left:36%;
margin-right: 40%;
background-color: white;
width:24%
}

.signincontainer{
  margin-top:20%;
  
 
}
.signin{
  background-color: black;
  font-size: 2rem;
  height: 4rem;
  color: white;
  border-radius: 3rem;
  min-width: 150px;
  font-family: serif;
  margin: auto;
  cursor: pointer;
  
}
.signin:hover {
  border:1px solid #333333;
}

.signin:active{
  border-color: rgb(7, 7, 7);
}